@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-family: arial;
    font-size: 12pt;
}


h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}
main, header, footer, nav ul {
    margin: 0 auto 0 auto;
}
main {
    background-color: bisque;
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    position: relative;
    overflow: hidden;
    margin: 20px;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin: 20px;
    
   
}
header h1 {
    position: absolute;
    top: 20px;
    left: 50px;
    margin: 0 auto;
    text-align: center;
    
}
#header-image {
    opacity: 0.5;
    width: 100%;
    height: auto;
    margin: 20 px;
}



nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}
.ingridient {
    font-weight: bold;

}
#burgers {
    width: calc(100% - 30px);
    border: 2px dashed currentColor;
    background-color: black;
    color: white;
    margin: 20px;
    padding: 15px;

}
#order {
    width: calc(100% - 30px);
    border: 2px dashed currentColor;
    margin: 20px;
    padding: 15px;
}
button:hover {
   background-color: red;
   cursor: pointer;
}
.burger-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.burger {
    padding: 10px;
}